.Log-in {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Altura total del viewport */
    background-image: url(src/Images/fondo.jpeg);
    color: white; 
  }
  
  .Log-in h1 {
    margin-bottom: 20px; 
    color: yellowgreen;
  }
  
  .Log-in input {
    width: 30%;
    margin-bottom: 10px; 
    padding: 10px;
    border: 1px solid white; 
    background-color: white; 
    color: black; 
    border-radius: 4px; 
  }
  
  .Log-in button {
    width: 30%;
    margin-top: 10px; 
    padding: 12px;
    background-color: #007bff; 
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px; 
  }
  
  .Log-in button:hover {
    background-color: #0056b3; /* Cambio de color al pasar el mouse */
  }
  
  