.fondo{
display: flex;
align-items: center;
justify-content: center;
display: grid;
    background-image: url(/src/Images/Captura\ de\ pantalla_26-6-2024_224519_turbologo.com.jpeg);
}
.centrar-login{
    
    
}